JWT_SIGNING_KEY=SUBSTITUA_POR_UMA_CHAVE_ALEATORIA_DE_NO_MINIMO_32_CARACTERES
JWT_ISSUER=SUBSTITUA_PELO_ISSUER
JWT_AUDIENCE=SUBSTITUA_PELA_AUDIENCE

DB_PASSWORD=SUBSTITUA_PELA_SENHA_DO_SQL_SERVER
REDIS_PASSWORD=SUBSTITUA_PELA_SENHA_DO_REDIS
SEQ_PASSWORD=SUBSTITUA_PELA_SENHA_DO_SEQ

# ASPNETCORE_ENVIRONMENT=Development
# API_IMAGE=tech-curse-api:local
