JWT_SIGNING_KEY=SUBSTITUA_POR_UMA_CHAVE_ALEATORIA_DE_NO_MINIMO_32_CARACTERES
JWT_ISSUER=SUBSTITUA_PELO_ISSUER
JWT_AUDIENCE=SUBSTITUA_PELA_AUDIENCE

DB_PASSWORD=TechCurse@Dev1
REDIS_PASSWORD=TechCurseDevRedis
SEQ_PASSWORD=TechCurse@DevSeq1

CORS_ALLOWED_ORIGINS=http://localhost:4200

# ASPNETCORE_ENVIRONMENT=Development
# API_IMAGE=tech-curse-api:local
